* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;
}

span {
  cursor: pointer;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-image: url('burlap.png');
  padding-bottom: 10px;
}

.none {
  display: none;
}
.form-box {
  margin: 0 auto;
  width: 600px;
  border: 5px solid #107ba3;
  border-radius: 5px;
  background: white;
  padding: 20px;
}
.sign-up-header {
  color: #faa220;
  font-weight: bold;
  padding-bottom: 10px;
}
.signUpField {
  border: 4px solid #14b1ab;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  margin: 5px;
  color: black;
}
.signUpField:hover {
  background: rgb(245, 245, 245);
}
.submit:hover {
  background: rgb(192, 192, 192);
}
.home-page {
  border: 3px solid #107ba3;
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}
.homepage-box-1 {
  width: 60%;
  margin-top: 50px;
  padding: 0 20px;
}
.homepage-box-2 {
  border-left: 1px solid black;
  width: 40%;
  margin-top: 50px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.homepage-box-2 h2 {
  font-size: 1.8rem;
  padding: 0 5px;
}
.btn-1 {
  min-width: 150px;
  border: 2px solid #14b1ab;
  background: #14b1ab;
  padding: 15px 20px;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 17px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 1px 2px 0px 1px rgba(0, 0, 0, 0.69);
}
.btn-1:hover {
  background: #c0326a;
  border: 2px solid #c0326a;
  transition: all ease-in-out 0.2s;
  top: 2px;
  left: 1px;
  box-shadow: none;
  position: relative;
}
.btn-2 {
  min-width: 150px;
  border: 2px solid #c0326a;
  background: #c0326a;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 17px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 1px 2px 0px 1px rgba(0, 0, 0, 0.69);
}
.btn-2:hover {
  background: #14b1ab;
  border: 2px solid #14b1ab;
  transition: all ease-in-out 0.2s;
  top: 2px;
  left: 1px;
  box-shadow: none;
  position: relative;
}

.btn-3 {
  min-width: 150px;
  border: 2px solid #c0326a;
  background: #c0326a;
  padding: 5px 8px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 1px 2px 0px 1px rgba(0, 0, 0, 0.69);
}
.btn-3:hover {
  background: #14b1ab;
  border: 2px solid #14b1ab;
  transition: all ease-in-out 0.2s;
  top: 2px;
  left: 1px;
  box-shadow: none;
  position: relative;
}
.log-in-header {
  padding-bottom: 40px;
}
.story-preview {
  width: 100%;
  margin: 50px;
  border-top: 1px solid black;
}
.stories-list {
  margin: 25px 0 50px;
}
.donor-profile {
  width: 75%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  color: #faa220;
}
.donor-header {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  border: 3px solid #107ba3;
  border-radius: 15px;
  background: #c0326a;
}
.donor-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  font-size: 25px;
  font-weight: bold;
}
.buttons-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saved-box {
  width: 100%;
}
.saved-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.saved-item {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #3a3480;
  background: #d65f28;
  padding: 5px 10px;
  border: 3px solid #3a3480;
  width: 45%;
}
.saved-header {
  width: 100%;
  text-align: start;
  padding: 15px;
  color: #3a3480;
  background: #14b1ab;
  border: 3px solid #107ba3;
}
.donor-info {
  color: #d65f28;
  background: #3a3480;
  padding: 10px;
  border: 3px solid #107ba3;
  border-radius: 15px;
  width: 100%;
  margin: 20px auto;
  text-align: left;
}
.donor-info > h1 {
  color: #3a3480;
  background: #14b1ab;
  padding: 10px;
  border: 3px solid #107ba3;
  border-radius: 15px;
  width: 100%;
  text-align: left;
}
.space {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 17px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.8);
  min-width: 100px;
  height: 30px;
  border: 2px solid #107ba3;
  border-radius: 10px;
  background: #107ba3;
  padding: 5px 10px;
  margin: 8px;
  box-shadow: 1px 2px 0px 1px rgba(0, 0, 0, 0.69);
}
.nav-link:hover {
  background: #c0326a;
  border: 2px solid #c0326a;
  transition: all ease-in-out 0.2s;
  top: 2px;
  left: 1px;
  box-shadow: none;
  position: relative;
}
.welcome {
  text-decoration: none;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
  color: #faa220;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 20px;
  border: 0px solid transparent;
  background: linear-gradient(to bottom, #107ba3, #14b1ab);
  margin: 10px;
  box-shadow: 1px 2px 0px 1px rgba(0, 0, 0, 0.69);
}
